// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



li {
  border: 1px solid #3998DC;
  background-color: #3998DC;
  color: white;
}
